html {
  scroll-behavior: smooth;
}

.main-nav {
  background-color: #0f0e17;
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
  padding: 2.2% 9.9%;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.nav-option {
  margin-left: 20px;
}
